/.nb-gradle/
/plex/objects/build/
.gradle
.idea
plex-on-the-go.iml
plex/objects/out
plex/plex-objects/build
plex/plex-objects/out
rest/build/classes
rest/build
rest/out
http/build
http/out
/plex-apis/build/
plex/build
plex/plex-apis/out
plex/plex-apis/build
